//--HEADER--//
$dark-blue: #316099;
$white: #ffff;
$menu-shadow: rgba(0, 0, 0, 0.2);
$menu-btn: #616161;
$menu-box: rgba(0, 0, 0, 0.02);

$logo-fz: 1.25em;
$menu-fz: 20px;

.flex {
  display: flex;
}
.jc-cn {
  justify-content: center;
}
